#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     8092
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    #stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global

#---------------------------------------------------------------------
# round robin balancing between the LoadBalancers
#---------------------------------------------------------------------

{% for port in ports.stdout_lines %}

listen elb :{{ port }}
    mode tcp
    option tcplog
    balance leastconn
{% set i = 0 %}
{% for elb_ip in elbs_addresses.stdout_lines %}
    server elb{{ i }} {{ elb_ip| ipaddr('address') }}:{{ port }} check
{% set i = i + 1 %}
{% endfor %}

{% endfor %}
